@{
    ViewBag.Title = "Home Page";
}



<div class="card mb-3">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fHN0dWR5aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap" height="200">
    <div class="card-body">
        <h5 class="card-title">Welcome to Matric Study Mate</h5>
        <p class="card-text">Matric Study Mate is here to help you ace your final year of high school!</p>
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        Class Diagram
    </div>
    <div class="card-body">
        <img src="~/Views/Images/HW4.drawio.png" />
    </div>
   <</div>

<div class="card text-center">
    <div class="card-header">
        Use Case Diagram
    </div>
    <div class="card-body">
        <a href="~/Views/Images/UCD.pdf"> </a>
    </div>
  
</div>
